
<div class="container col-lg-6 reg-container">
  <h3>Register</h3>
  <div>
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="uname" required>
  </div>
  <div>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
  </div>
  <div>
    <label><b>Confirm Password</b></label>
    <input class="custom-input" type="password" placeholder="Enter Password" name="psw" required>
  </div>

  <button type="submit">Register</button>
</div>
