
<div class="container col-lg-6 reg-container">
  <h3>Register</h3>
  <div>
    <label><b>Email</b></label>
    <input id="reg-email" type="text" placeholder="Enter Email" name="uname">
  </div>
  <div>
    <label><b>Password</b></label>
    <input id="reg-pass" type="password" placeholder="Enter Password" name="psw">
  </div>
  <div>
    <label><b>Confirm Password</b></label>
    <input id="reg-pass-confirm" class="custom-input" type="password" placeholder="Enter Password" name="psw">
  </div>

  <button id="reg-send">Register</button>
</div>
