<div class="report-main">

  <div class="upload">
    <label class="btn btn-default btn-file" >
       Upload  <input type="file" name="file" id="file" accept=".csv" style="display: none;" />
    </label>
  </div>


  <div class="search-link">
    <button class="btn btn-default btn-info query">query</button>
  </div>

  <div class="result-list"></div>

</div>