<div style="padding-bottom: 10px;">
  <button class="btn btn-default btn-info report">report</button>
</div>

<label>How many URL's contain the word </label><input id="keyword-search" type="text" name="keyword-search"><label>in adwords.</label>
<div>
  <button id="keyword-send">Search</button>
</div>

<label>How many times the url </label><input id="url-search" type="text" name="url-search"><label>shows up in SEO.</label>
<div>
  <button id="url-send">Search</button>
</div>

<div style="padding-top: 10px;"><label class="answer"></label></div>

