<!DOCTYPE html>
<html>
<head>
  <title>Nimbl3Test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Nimbl3</a>
    </div>


  <% if cookies[:authorization].nil? %>
    <div class="container col-lg-6 custom-container">
      <label>Email</label>
      <input id="login-email" type="text" placeholder="Enter Email" name="uname" required>
      <label>Password</label>
      <input id="login-password" type="password" placeholder="Enter Password" name="psw" required>
      <button id="login-send">Login</button>
    </div>
  <% else %>
    <div class="container logut-container">
      <button id="logout-send">Logout</button>
    </div>
  <% end %>
  </div><!-- /.container-fluid -->
</nav>

<div class="alert alert-danger custom-alert">
</div>

<div class="alert alert-success">
</div>

<%= yield %>

</body>
</html>
